*   { 
        margin: 0;
        padding: 0;
    }
    /* -------------------------.container------------------------- */

        .container {

            max-width: 1240px;
            margin: 0 auto;
            padding: 0 20px;
        }

    /* -------------------------.navbar------------------------- */

        .navbar {
            height: 96px;
            margin: 0;
            display: flex;  
            justify-content: space-between;
            align-items: center;
            padding: 0 24px;
        }

        .navbar img {
            width: 100px;
            height: auto;
        }

        .navbar input {
            height: 40px;
            width: 100%;
            border: 1px solid #d9d9d9;
            padding: 8px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 18px 18px;
        }

        .navbar input::placeholder {
            color: #bfbfbf;
        }
        
        .navbar ul {
            list-style-type: none;
            display: flex;
            padding: 0;
            margin: 0;
        }
        
        .navbar li {
            margin-right: 40px;
            display: inline;
        }
        
        .navbar a {
            text-decoration: none;
            font-family: "MontSerrat", sans-serif;
            color: #595959; 
            font-weight: 400; 
            transition: font-weight 0.3s ease;
        }
        
        .navbar a:hover {
            font-weight: bold;
            color: #019edb;
        }
        
        .navbar a:active {
            font-weight: bold;
            color: #018dc2;
        }

    /* -------------------------Texto------------------------- */

    h1 {
        font-family: "MontSerrat", sans-serif;
        color: #019edb;
        font-weight: bold;
        font-size: 40px;
    }

    h2 {
        font-family: "MontSerrat", sans-serif;
        color: #595959;
        font-weight: bold;
        font-size: 32px;
    }

    h3 {
        font-family: "MontSerrat", sans-serif;
        color: #595959;
        font-weight: bold;
        font-size: 24px;
    }

    body {
        font-family: "MontSerrat", sans-serif;
        color: #8c8c8c;
        font-weight: 400;
        font-size: 16px;
    }

    /* -------------------------Botão------------------------- */

    button {
        display: block;
        height: 40px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        border-radius: 24px;
        padding: 16px;
        background-color: #FFFF01;
        color: #595959;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #e6e601;
    }

